name: Publish Dev Container Feature
on:
  push:
    branches: [ "main", "feature/codespaces" ]
    paths:
      - ".devcontainer/features/**"
      - ".github/workflows/publish-feature.yml"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish devcontainer feature(s)
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: ".devcontainer/features"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}